[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "src/isaac_ros_nvblox"]
	path = src/isaac_ros_nvblox
	url = https://github.com/MadsRossen/isaac_ros_nvblox.git
[submodule "src/optris_drivers2"]
	path = src/optris_drivers2
	url = https://github.com/evocortex/optris_drivers2.git
[submodule "src/isaac_ros_object_detection"]
	path = src/isaac_ros_object_detection
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_object_detection.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/isaac_ros_visual_slam"]
	path = src/isaac_ros_visual_slam
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_visual_slam.git
